@import '../../../assets/scss/variable.scss';

.navigation {
    width: 100%;
    overflow: hidden;
    
    @media (min-width: 940px) {
        width: 50%;
    }

    @media (max-width: 850px) {
        display: none;
    }

    &_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: white;
    }

    button {
        color: #65676B
    }
}