@import '../../../../assets/scss/variable.scss';

.sidebar button {
    background-color: $theme-blue;
    color: white;

    &:hover {
        background-color: $theme-blue;
    }
}

.sidebar_actions svg {
    font-size: 1.2rem;
}