
.timeline {
    width: 50%;

    @media (max-width: 767px) {
        width: 100%;
    }

    &_title {
        cursor: pointer;
        
        & .active {
            border-bottom: 1px solid #ccc;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
    }
}