.step {
    color: #1976d2;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

.content {
    padding: 2rem;

    h2 {
        margin: 5px 0;
        text-transform: capitalize;
    }

    &_fields {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        margin-top: 15px;
    }
}