.filtering {
    &_year {
        display: flex;
        justify-content: space-around;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 1;
        min-width: 200px;
        margin-right: 25px;
    }
}